<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>

<body style="background-color: aqua; align-items: center; justify-content: center;">
    <form method="post" style="width: fit-content; align-items: center; justify-content: center;">
        <div>
            <label>Video url</label>
            <input type="url" aria-valuetext="text" placeholder="please enter valid video url" id="video"
                name="video" />
        </div>
        <button type="button" onclick={onSubmit()} value="accept">Submit</button>
    </form>
    <script>
        function makeid(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
            return result;
        }

        function onSubmit() {
            var fileName = makeid(5);
            var request3 = new XMLHttpRequest();
            var video = document.getElementById("video").value;
            localStorage.setItem("fileName", fileName);
            request3.open('POST', `/api/generate-file`);
            request3.setRequestHeader("Content-Type", "application/json");
            request3.send(JSON.stringify({ fileName, video }));
        } 
    </script>
    <form method="post">
        <button type="button" onclick={generate()}>Generate Text</button>
    </form>
    <script type="text/javascript">
        function generate() {
            var fileName = localStorage.getItem('fileName');
            var request3 = new XMLHttpRequest();
            request3.open('POST', `/api/generate-audio`);
            request3.setRequestHeader("Content-Type", "application/json");
            request3.send(JSON.stringify({ fileName }));
        }
    </script>


</body>

</html>